.create-menu-container{
    display: flex;
    border: 1px solid black;
    flex-direction: column;
}
form{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.form-group{
    padding-bottom: 8px;
}

