
.menu-mgmt{
    display: flex;
    flex-direction: column;
    width: 80vw;
    justify-content: space-around;
    overflow-y: auto;
    border:1px solid rgb(0, 0, 0)
}
.menu-panel{
    display: flex;
    justify-content: space-around;
    align-items: center;

}