:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #d8e7da;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  padding-bottom: 50px;
}


/* global button css */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  
  
  font-weight: 600;
  font-family: inherit;
  background-color: #7a332e;
  color: aliceblue;
  cursor: pointer;
  box-sizing: border-box;
  transition: border-color 0.25s;
}
button:hover {
  border: 1.2px solid #000000;
}



