.menu-item-mgmt-body{
    width: 100vw; 
    height: auto;
    
    padding-bottom: 50px;
}

.menu-item-mgmt{
    display: flex;
    flex-direction: row;
    height:50%;
    justify-content: space-around;
}
.menu-items-header{
    border: 2px solid black;
    padding: 10px;
    border-radius: 5%;
    width: 100%;
    background-color: rgb(252, 125, 121);
}
.item-container {
    border: 1px solid black;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}
.ctrl-panel{
    padding-bottom: 20px;
}