
.menu-item-mgmt{
    display: flex;
    flex-direction: row;
    width: 100vw; 
    height:100vh;
}
.menu-items-header{
    width: 100%;
}
.item-container {
    display:flex;
    flex-direction: column;
}
.ctrl-panel{
    padding-bottom: 2vh;
}